In [14]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as sts
import math
from math import sqrt
from statistics import variance,pvariance 
from statsmodels.stats.weightstats import _zconfint_generic as z_stat
%matplotlib inline

In [2]:
url ="https://raw.githubusercontent.com/piton1/DS/Lesson_5/telecom_churn.csv"
df=pd.read_csv(url)
display(df)

,state,account length,area code,phone number,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,...,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3328,AZ,192,415,414-4276,no,yes,36,156.2,77,26.55,...,126,18.32,279.1,83,12.56,9.9,6,2.67,2,False
3329,WV,68,415,370-3271,no,no,0,231.1,57,39.29,...,55,13.04,191.3,123,8.61,9.6,4,2.59,3,False
3330,RI,28,510,328-8230,no,no,0,180.8,109,30.74,...,58,24.55,191.9,91,8.64,14.1,6,3.81,2,False
3331,CT,184,510,364-6381,yes,no,0,213.8,105,36.35,...,84,13.57,139.2,137,6.26,5.0,10,1.35,2,False
3332,TN,74,415,400-4344,no,yes,25,234.4,113,39.85,...,82,22.60,241.4,77,10.86,13.7,4,3.70,0,False

In [3]:
#среднее всего столбца
df_av=df['total day calls'].mean()

In [4]:
#среднее выборки с параметром churn=False
dff_av=df.loc[df['churn'] == False, 'total day calls'].mean()

In [5]:
#среднее выборки с параметром churn=True
dft_av=df.loc[df['churn'] == True, 'total day calls'].mean()

In [6]:
df1=df['total day calls']
dft=df.loc[df['churn'] == True, 'total day calls']
dff=df.loc[df['churn'] == False, 'total day calls']

In [7]:
#доверительный интервал выборки с параметром churn=False
sts.norm.interval(alpha=0.95, loc=np.mean(dff), scale=sts.sem(dff))

(99.55618833318324, 101.01012745629045)

In [24]:
#доверительный интервал выборки с параметром churn=True
sts.norm.interval(alpha=0.95, loc=np.mean(dft), scale=sts.sem(dft))

(99.41066229112079, 103.26014516229537)

In [ ]:
#доверительный интервал всего столбца
sts.norm.interval(alpha=0.95, loc=np.mean(df1), scale=sts.sem(df1))

In [ ]:
#дисперсия выборки с параметром churn=False
variance(dff)

In [ ]:
#дисперсия выборки с параметром churn=True
variance(dft)

In [ ]:
#дисперсия всего столбца
pvariance(df1)

In [9]:
#размеры выборок
print(len(dff),len(dft),len(df1))

2850 483 3333

In [10]:
#Доверительный диапазон по формуле для выборки с параметром churn=False
print(dff_av-1.96*(sqrt(variance(dff))/sqrt(len(dff))),dff_av+1.96*(sqrt(variance(dff))/sqrt(len(dff))))

99.55617497470149 101.0101408147722

In [74]:
#Доверительный диапазон по формуле для выборки с параметром churn=True
print(dft_av-1.96*(sqrt(variance(dft))/sqrt(len(dft))),dft_av+1.96*(sqrt(variance(dft))/sqrt(len(dft))))

99.41062692289533 103.26018053052083

In [20]:
std_dff=np.std(dff, ddof= 1)
std_dft=np.std(dft, ddof= 1)

In [21]:
z_stat(dff_av, std_dff, 0.95, 'two-sided')

(99.04149114274125, 101.52482464673244)

In [22]:
z_stat(dft_av, std_dft, 0.95, 'two-sided')

(99.98204678079553, 102.68876067262063)