In [4]:
from random import sample
import pandas as pd

In [2]:
U=[0]*5+[1]*4
n=120000
U

[0, 0, 0, 0, 0, 1, 1, 1, 1]

In [7]:
df = pd.DataFrame({"A":list(map(lambda a: sum(sample(U,3))==0, range(n)))})
df.head(10)

       A
0  False
1  False
2  False
3  False
4  False
5  False
6   True
7  False
8  False
9  False

In [9]:
df['A'].mean()

0.11959166666666667